.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cardBox:hover {
  border: 1px solid blue;
}
.tooltip {
  border: 1px solid blue;
  background: #f6f6f6;
  padding: 40px 40px 0;
  float: left;
  width: 1000px;
  margin-top: -1rem;
}
.itemStyle {
  padding: 4px;
  cursor: pointer;
}
.itemStyle:hover {
  border-left: 3px solid red;
  opacity: 0.7;
}
.activeNav {
  border-left: 3px solid red;
  opacity: 0.7;
}
.toolHeaderBox {
  width: 600px;
  padding-right: 40px;
}
.tooltipHeader {
  font-size: 20px;
  font-weight: 400;
  color: #666;
  font-style: normal;
}
.tooltipSubHeader {
  color: #666;
  font-style: normal;
  font-size: 14px;
  font-family: Roboto;
}
.inputDataSource {
  font-size: 18px;
  font-weight: 400;
  color: #666;
  font-style: normal;
}
.buttonDesign {
  background-color: white !important;
  font-size: 13px;
  padding: 5px 12px;
  min-width: 30px;
  min-height: 30px;
}
.buttonDesign:hover {
  background-color: blue !important;
  color: white;
}
.buttonLaunchDesign {
  background-color: white !important;
  margin-right: 20px;
}
.footerText {
  color: #666;
  font-size: 14px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiPaper-elevation8 {
  box-shadow: none !important;
}
.solution-popover {
  left: 75px !important;
}
.solution-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.MuiGrid-grid-xs-1 {
  flex-basis: 7.333333% !important;
}
.MuiListItemIcon-root {
  min-width: 20px !important;
}
.MuiTypography-body1 {
  font-size: 0.8rem !important;
}
